/* GLOBAL DEFAULT PAGE STYLESHEET */

// main site wrapper
#main-wrapper {
}

// sidebar
#sidebar-wrapper {

}

// content
#content {
	.site-header {
		background: #000;
		margin: 0 -0.9375rem;
	}
	.content-area {
		background: rgba(255,255,255,.9);
		padding: 20px;
		em.with-color {
			color: #f00;
		}
	}
}

@media (min-width : 320px) {
	.entry-content {
		font-size: 1rem;
	}
}